body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.main-content {
  margin-left: 280px;
  flex: 1;
  min-height: 100vh;
}

@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
    padding: 1.5rem;
  }
}
